add_newline = false
command_timeout = 1000

format = """
$directory\
$fill\
$git_branch\
$git_state\
$git_status\
$cmd_duration\
$line_break\
$character"""

[character]
success_symbol = "[󰅯](bold green)"
error_symbol = "[󰅭](red)"
vimcmd_symbol = "[󰅱](bold cyan)"
vimcmd_visual_symbol = "[󰅰](purple)"
vimcmd_replace_symbol = "[󰅰](bold red)"
vimcmd_replace_one_symbol = "[󰅰](yellow)"

[fill]
symbol = ' '
style = 'fg:black'

[package]
disabled = false

[cmd_duration]
min_time = 5000
show_milliseconds = false
disabled = false
format="[$duration]($style)"
style="italic blue"

[directory]
truncation_length = 5
format = "[$path]($style)[$lock_symbol]($lock_style) "
style = "bold green"
read_only = ""
read_only_style= "bold white"

[hostname]
ssh_only = false
trim_at = ".companyname.com"
disabled = false
style = "bold italic green"

[git_commit]
commit_hash_length = 8
style = "bold white"

[status]
style = "bg:transparent"
symbol = " "
format = '($style)'
disabled = false

[git_branch]
format = "[$branch]($style)"
style = "bold purple"

[git_status]
format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](218) ($ahead_behind$stashed)]($style)"
style = "cyan"
conflicted = ""
untracked = ""
modified = ""
staged = ""
renamed = ""
deleted = ""
stashed = "≡"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "cyan"
